/* =============== USTAWIENIA OGOLNE =============== */
* {
  margin: 0px;
}
body {
  position: relative;
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--black-text);
  background-color: var(--main-white);
}
:root {
  --main-white: #ffffff;
  --slogan-background: #2f303a;
  --black-text: #212121;
  --grey-background: #f5f4fa;
  --gery-text: #757575;
  --webstudio-blue: #2196f3;
}
a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.section {
  padding-top: 94px;
}
.padding-bottom {
  padding-bottom: 94px;
}

/* ====================== NAGŁÓWKI ================= */

h1 {
  max-width: 700px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white);
}

h2 {
  padding-right: 93px;
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: #000;
}

h3 {
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--black-text);
}
h4 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;

  color: var(--black-text);
}
h5 {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;

  letter-spacing: 0.06em;

  color: var(--black-text);
}

/* ====================== LOGO ================= */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: #000;
}
.logo-blue {
  color: var(--webstudio-blue);
}
.logo-white {
  padding-top: 60px;
  padding-bottom: 20px;
  color: var(--main-white);
}
/* ====================== NAWIGACJA ================= */

.navigation-bar {
  display: flex;
  align-items: center;
}
.bottom-border {
  border-bottom: 1px solid #ececec;
}
.header-bar {
  display: flex;
  justify-content: space-between;
}
.head-clickers {
  display: flex;
  margin: 32px auto;
}
.active {
  position: relative;
}
.active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}
.head-clickers li:not(:last-child) {
  margin-right: 23px;
}
.head-clickers li:not(:first-child) {
  margin-left: 23px;
}
.head-clickers a {
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.mail-tel-a:hover,
.mail-tel-a:focus,
address a:hover,
address a:focus,
.head-clickers a:hover,
.head-clickers a:focus {
  color: var(--webstudio-blue);
  fill: var(--webstudio-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel-li {
  margin-left: 30px;
}
.mail-tel {
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail-tel-a {
  display: flex;
  align-items: center;
  color: var(--gery-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--gery-text);
}
.mail-tel-a svg {
  margin-right: 10px;
}

/* ====================== SLOGAN ================= */
.slogan {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/slogan-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px auto;
  padding: 200px 0;
  display: flex;
  align-items: center;
}

.slogan-paddings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-button {
  padding: 10px 41px;
  margin-top: 30px;

  border: none;

  background: var(--webstudio-blue);
  color: var(--main-white);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* ====================== LOREM IPSUM ================= */
.lorem-ipsum-section ul {
  display: flex;
  gap: 30px;
}

.lorem-ipsum-section h6 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}
.lorem-ipsum-section p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gery-text);
}
.background-item {
  background-color: var(--grey-background);
  border-radius: 4px;
  min-height: 120px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ====================== CO ROBIMY ================= */
.what-we-do li {
  display: inline-block;
}
.photos {
  display: flex;
  justify-content: space-between;
}
.photos-inside {
  position: relative;
}
.photos-txt {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 27px;

  background: rgba(47, 48, 58, 0.8);
  color: var(--grey-background);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
}
/* ====================== LUDZIE ================= */
.our-team {
  background-color: var(--grey-background);
}
.people {
  display: flex;
  justify-content: space-between;
}
.people-box {
  padding-bottom: 30px;
  display: inline-block;
  background-color: var(--main-white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team p {
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--gery-text);
}
.social-links {
  display: flex;
  justify-content: space-between;
  padding: 0 32px 0 32px;
}

.round-social-links {
  width: 20px;
  height: 20px;

  fill: #afb1b8;
}
.social-links-link:hover,
.social-links-link:focus {
  background-color: var(--webstudio-blue);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.social-links-link:hover svg {
  fill: var(--main-white);
}
/* ====================== NASI KLIENCI ================= */
.our-customers-icon svg {
  width: 106px;
  height: 60px;
}
.our-customers-icon {
  outline: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  height: 92px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-customers-icon:hover {
  fill: var(--webstudio-blue);
  outline: 1px solid var(--webstudio-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers {
  display: flex;
  justify-content: space-between;
}

/* ====================== STOPKA ================= */

.footer-main {
  background-color: var(--slogan-background);
}
.footer-main-inside {
  display: flex;
}
address p {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--main-white);
}
address ul {
  padding-bottom: 60px;
}
address a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.address-padding {
  padding-top: 9px;
}
.join-us {
  padding-top: 72px;
  margin-left: 70px;
}
.form-email {
  display: flex;
}
.sign-in-label {
  margin-right: 12px;
}
.white-txt {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-white);
}
.join-us-links {
  display: flex;
}
.join-us-links li {
  padding-right: 10px;
}
.social-links-link-join-us {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  fill: var(--main-white);
}
.round-social-links-join-us {
  width: 20px;
  height: 20px;

  fill: var(--main-white);
}
.social-links-link-join-us:hover,
.social-links-link-join-us:focus {
  background-color: var(--webstudio-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*===================== ZAPISZ SIĘ ================= */

.form-space-email-footer {
  background-color: var(--slogan-background);
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 356px;
  height: 50px;
  border: none;
  padding-left: 16px;

  color: var(--main-white);
}

.svg-send {
  width: 24px;
  height: 24px;
}
.button-footer {
  display: flex;
  align-items: center;

  width: 200px;
  height: 50px;
  border: none;

  background: var(--webstudio-blue);
  color: var(--main-white);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  padding: 0;
}
.sign-in-txt {
  padding-left: 42px;
  padding-right: 24px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.sign-in {
  padding-top: 72px;
  margin-left: 70px;
}

/* =================== PORTFOLIO ================= 
====================== PORTFOLIO =================
====================== PORTFOLIO =================
====================== PORTFOLIO =================
====================== PORTFOLIO =================
====================== PORTFOLIO =================
====================== PORTFOLIO =================
====================== PORTFOLIO =================*/

.portfolio-buttons {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portfolio-buttons li {
  padding-right: 8px;
}
.portfolio-buttons button {
  padding: 6px 22px 6px 22px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;

  border-radius: 4px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.portfolio-buttons button:hover,
.portfolio-buttons button:focus {
  background-color: var(--webstudio-blue);
  color: var(--main-white);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box ul {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.portfolio-box li {
  flex-basis: calc((100% - 90px) / 3);
  background: var(--main-white);
}
.portfolio-txt-const p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--gery-text);
}
.portfolio-txt-const {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  background-color: var(--main-white);
}
.portfolio-box-image:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box-image:hover .portfolio-box-txt {
  transform: translatex(0);
}

.portfolio-box-txt > p {
  background-color: rgba(33, 150, 243, 0.9);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;

  letter-spacing: 0.03em;
  color: var(--main-white);
  padding: 49px 45px 49px 24px;
}
.no-gap {
  display: block;
}
.portfolio-box-image {
  overflow: hidden;
  position: relative;
}
.portfolio-box-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translatey(100%);
  transition: ease-in 250ms;
}

/* ================= OKNO MODALNE ================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
  transition-delay: 250ms;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  width: 528px;
  min-height: 581px;
  padding-top: 8px;
  padding-right: 8px;
  border-radius: 4px;
}
.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-btn:hover,
.close-btn:focus {
  cursor: pointer;
  fill: crimson;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn .svg {
  width: 18px;
  height: 18px;
}

/* ================= FORMULARZ ================== 
+++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ================= FORMULARZ BUTTON ================== */

.form-button {
  display: flex;
  padding: 10px 76px;

  width: 200px;
  min-height: 50px;
  border: none;

  background: var(--webstudio-blue);
  color: var(--main-white);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.form-button-position {
  display: flex;
  justify-content: center;
}
/* ================= FORMULARZ STYLE ================== */

.form-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  padding-bottom: 12px;
}
.form-margin {
  margin: 40px;
}
.form-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;

  letter-spacing: 0.01em;

  color: #757575;
  padding-bottom: 4px;
  padding-top: 10px;
}
.form-space-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-label {
  position: relative;
}
.form-space {
  width: 448px;
  min-height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  resize: none;
}
.form-space:focus-within {
  outline-color: var(--webstudio-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-space-comment {
  padding: 12px 16px;
}
.form-space-input {
  padding-left: 40px;
}
.form-link {
  color: var(--webstudio-blue);
  text-decoration-line: underline;
}
.svg-form {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 0px;
  left: 12px;
}
.label-checkbox {
  display: flex;
  align-items: center;
}

.form-statute {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;

  color: #757575;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 12px;
  text-align: right;
}

.form-statute::before {
  display: inline-block;
  /* justify-content: center;
  align-items: center; */

  content: "";
  width: 16px;
  height: 16px;
  outline: 1px solid #000;
  border-radius: 2px;
  margin-right: 9px;
  cursor: pointer;
}

.checkbox-sign:checked + .form-statute::before {
  background-color: #2196f3;
  outline: none;
  z-index: 15;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons.svg#icon-check);
  fill: red;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.form-label:focus-within {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
